/* Sidebar.css */

.sidebar {
    background-color: #333; /* Colore di sfondo scuro */
    color: #fff; /* Colore del testo */
    width: 250px; /* Larghezza della sidebar */
    height: 100%; /* Altezza della sidebar */
    position: fixed; /* Fissare la sidebar */
    top: 0; /* Posizionamento in alto */
    left: 0; /* Posizionamento a sinistra */
    padding-top: 20px; /* Spazio sopra */
  }
  
  .sidebar ul {
    list-style-type: none; /* Rimuove i punti elenco */
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 20px;
    font-size: 18px; /* Dimensione del carattere */
    border-bottom: 1px solid #555; /* Linea divisoria tra voci */
  }
  
  .sidebar li:last-child {
    border-bottom: none; /* Rimuove la linea divisoria dall'ultimo elemento */
  }
  
  .sidebar a {
    color: #fff; /* Colore del testo del link */
    text-decoration: none; /* Rimuove l'effetto sottolineato */
  }
  
  .sidebar a:hover {
    color: #17a2b8; /* Cambia il colore del testo al passaggio del mouse */
  }
  